#content {
	display:flex;
	flex-direction:column;
}

.conference {
	padding: 0;
	margin: 0;
	height: 48%;
	list-style: none;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.division {
	padding: 1px;
	margin: 1px;
	display: flex;
	flex:1;
	flex-direction:column;
}

.team {
	display: flex;
	margin:1%;
	flex:1;
	border-radius: 5px;
	align-items: center;
}

.teamName {
	float:left;
	font-size: 1.5em;
    font-weight: bolder;
}

.link {
	font-size: 1.5em;
    font-weight: bolder;
	margin:10px;
}