.nfl-small-ari,
.nfl-small-22 {
    background-position: 0 0
}
.nfl-small-atl,
.nfl-small-1 {
    background-position: 0 -50px
}
.nfl-small-bal,
.nfl-small-33 {
    background-position: 0 -100px
}
.nfl-small-buf,
.nfl-small-2 {
    background-position: 0 -150px
}
.nfl-small-car,
.nfl-small-29 {
    background-position: 0 -200px
}
.nfl-small-chi,
.nfl-small-3 {
    background-position: 0 -250px
}
.nfl-small-cin,
.nfl-small-4 {
    background-position: 0 -300px
}
.nfl-small-cle,
.nfl-small-5 {
    background-position: 0 -350px
}
.nfl-small-dal,
.nfl-small-6 {
    background-position: 0 -400px
}
.nfl-small-den,
.nfl-small-7 {
    background-position: 0 -450px
}
.nfl-small-det,
.nfl-small-8 {
    background-position: 0 -500px
}
.nfl-small-gnb,
.nfl-small-9 {
    background-position: 0 -550px
}
.nfl-small-hou,
.nfl-small-34 {
    background-position: 0 -600px
}
.nfl-small-ind,
.nfl-small-11 {
    background-position: 0 -650px
}
.nfl-small-jac,
.nfl-small-30 {
    background-position: 0 -700px
}
.nfl-small-kan,
.nfl-small-12 {
    background-position: 0 -750px
}
.nfl-small-mia,
.nfl-small-15 {
    background-position: 0 -800px
}
.nfl-small-min,
.nfl-small-16 {
    background-position: 0 -850px
}
.nfl-small-nwe,
.nfl-small-17 {
    background-position: 0 -900px
}
.nfl-small-nor,
.nfl-small-18 {
    background-position: 0 -950px
}
.nfl-small-nyg,
.nfl-small-19 {
    background-position: 0 -1000px
}
.nfl-small-nyj,
.nfl-small-20 {
    background-position: 0 -1050px
}
.nfl-small-oak,
.nfl-small-13 {
    background-position: 0 -1100px
}
.nfl-small-phi,
.nfl-small-21 {
    background-position: 0 -1150px
}
.nfl-small-pit,
.nfl-small-23 {
    background-position: 0 -1200px
}
.nfl-small-sdg,
.nfl-small-24 {
    background-position: 0 -1250px
}
.nfl-small-sfo,
.nfl-small-25 {
    background-position: 0 -1300px
}
.nfl-small-sea,
.nfl-small-26 {
    background-position: 0 -1350px
}
.nfl-small-stl,
.nfl-small-14 {
    background-position: 0 -1000px;
}
.nfl-small-tam,
.nfl-small-27 {
    background-position: 0 -1450px
}
.nfl-small-ten,
.nfl-small-10 {
    background-position: 0 -1500px
}
.nfl-small-was,
.nfl-small-28 {
    background-position: 0 -1550px
}
.nfl-small-afc {
    background-position: 0 -1600px
}
.nfl-small-nfc {
    background-position: 0 -1650px
}