#content {
	display:flex;
	flex-direction:column;
}

.conference {
	padding: 0;
	margin: 0;
	height: 48%;
	list-style: none;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.division {
	padding: 1px;
	margin: 1px;
	display: flex;
	flex:1;
	flex-direction:column;
}

.team {
	display: flex;
	margin:1%;
	flex:1;
	border-radius: 5px;
	align-items: center;
}

.teamName {
	float:left;
	font-size: 1.5em;
    font-weight: bolder;
}

.link {
	font-size: 1.5em;
    font-weight: bolder;
	margin:10px;
}

.draft {
	display:flex;
	flex-direction:row;
}

.draftTeams {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.draftTeam {
	display:flex;
	flex-direction:column;
	width:25%;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

.menuItem {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.menuItem:hover {
    background-color: #555;
    color: white;
}

#draftPlayerList {
	overflow:scroll;
	height: 600px;
	margin: 10px;
}
