@import url('https://fonts.googleapis.com/css?family=Cuprum');
@import url('https://fonts.googleapis.com/css?family=Kavoon');

.text {
	font-family: 'Cuprum', sans-serif !important;
}
.kavoon {
	font-family: 'Kavoon', sans-serif !important;
}

.Card {
  width:180px;
	margin: 5px;
	box-shadow: 1px 1px 6px rgb(47, 144, 195), 5px 5px 8px rgba(0, 0, 0, 0.12);
	background-color: white;
}

.Comparecard {
	width: 400px;
	margin: 5px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
}

.PassingStatsblock {
	margin: 5px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
}

.compare {
  animation: sendto 1s linear;
}

@keyframes sendto {
	100% {
		transform: scale(.1) translateY(-50%) translateX(-50%);
	}
}

@keyframes topleft {
	0% {
		position:fixed;
	}
	100% {
		position:fixed;
    left: 0;
    top: 0;
    margin-left:10px;
    margin-top:5px;
  }
}

/* ---Generals--- */
.card-row {
	padding:2px;
}
.xsmall {
	font-size:x-small;
}
.xxsmall {
	font-size:xx-small;
}
.large {
	font-size:large;
}
.xlarge {
	font-size:x-large;
}
.xxlarge {
	font-size:xx-large;
}
.start {
	text-align: start;
}
.end {
	text-align: end;
}
.center {
	text-align: left;
}
/* --------------- */

/* ---Specifics--- */
.header {
	margin: 0 10px 0;
}
.player-img {
	width:90px;
	height:65px;
}
.number-team {
	width:90px;
	height:65px;
}

.rank-button {
	font-size: small !important;
}
/* --------------- */
